/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your site*/    

body{
  /*states color for all text*/
  color:rgb(66, 6, 170);
  background-image: url("background.jpg");
}

a:link {/*color for links*/
  color: rgb(98, 18, 188);
}

/* visited link */
a:visited {
  color: rgb(31, 9, 155);
}

/* mouse over link */
a:hover {
  color: rgb(90, 11, 123);
}

/* selected link */
a:active {
  color: rgb(101, 9, 171);
}
