/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your site*/

  a:link {
    color: rgb(51, 255, 0);
  }
  
  /* visited link */
  a:visited {
    color: rgb(39, 81, 121);
  }
  
  /* mouse over link */
  a:hover {
    color: rgb(79, 26, 101);
  }
  
  /* selected link */
  a:active {
    color: rgb(89, 56, 151);
  }
